*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 0 0.4rem rgba(207, 181, 59, 0.5);
}

::selection {
  color: $clr-black;
  background: $clr-gold;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: $clr-gray-light;
}

::-webkit-scrollbar-thumb {
  background: $clr-gold;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  background-color: $clr-white;
  overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-inline-size: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: currentColor;
}

ol,
ul {
  list-style: none;
}
