.card {
  &__icon {
    display: inline-block;
    font-size: 6.2rem;
    @include colorIcon;
    margin-bottom: 3.2rem;

    &--sm {
      font-size: 4.4rem;
      margin-bottom: 0;
    }
  }

  &__title {
    font-size: 2rem;
    line-height: 1.4;
    margin-bottom: 1.6rem;

    &--contact {
      font-size: 2rem;
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  &--side-icon {
    display: flex;
    gap: 2.4rem;
    align-items: flex-start;
  }

  &--transparent {
    background-color: rgba(250, 250, 250, 0.75);
    color: $clr-black;
    padding: 3.2rem;
  }
}
