.form {
  padding: 4.8rem;
  background-color: $clr-white;

  &__title {
    font-family: $font-heading;
    font-size: 3.2rem;
    margin-bottom: 3.2rem;
  }

  &__input-group {
    &:not(:last-of-type) {
      margin-bottom: 2.4rem;
    }

    &:last-of-type {
      margin-bottom: 3.2rem;
    }

    &--flexed {
      display: flex;
      gap: 2.4rem;

      @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
      }

      & div {
        width: 100%;
      }
    }
  }

  &__label {
    display: inline-block;
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
  }

  &__input {
    width: 100%;
    color: var(--clr-black);
    padding: 1.6rem 2.4rem;
    border: none;
    outline: none;
    box-shadow: 0 0 0 1px inset $clr-black;
    background: $clr-white;

    &:focus {
      box-shadow: 0 0 0 2px inset $clr-gold;
    }
  }

  &--contact {
    background-color: $clr-champagne;
  }

  & .btn {
    width: 100%;
  }
}
