.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;

  &__item {
    overflow: hidden;
    position: relative;

    &:hover .gallery__img {
      transform: scale(1.1);
    }

    &:nth-child(even) {
      &::before {
        position: absolute;
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        background: $bg-gradient-gold;
        z-index: 1;
      }
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
  }
}
